* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
@media (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
    }
}

a:hover {
    color: #106213;
}

::selection {
    background-color: #106213;
    color: #FFF;
}

/* ===== Container ===== */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding: 30px 20px;
    background-color: #FFF;
}
@media (min-width: 768px) {
    .container {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* ===== Left Container ===== */
.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
@media (min-width: 768px) {
    .left-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 150px;
    }
}
@media (min-width: 1200px) {
    .left-container {
        max-width: 210px;
    }
}

.left-container > .title {
    flex: 1 100%;
    margin: 70px 0 50px;
}
@media (min-width: 768px) {
    .left-container > .title {
        margin: 0;
        flex: none;
        transform: rotater(-90deg);
        font-size: 30px;
    }
}

/* ===== Logo ===== */
.logo {
    font-size: 20px;
}
@media (min-width: 768px) {
    .logo {
        margin: 0;
        font-size: 18px;
    }
}

/* ===== Social ===== */
.social {
    margin: 0 30% 0 0; 
    list-style: none;
    display: flex;
}
@media (min-width: 768px) {
    .social {
        margin-right: 0;
        order: 1;
    }
}

.social > * + * {
    margin-left: 20px;
}

.social > li > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
@media (min-width: 768px) {
    .social > li > a {
        font-size: 12px;
    }
}

/* =====  Center Container ===== */
.center-container > img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 768px) {
    .center-container {
        margin-top: -30px;
        margin-bottom: -30px;
        display: flex;
        align-items: flex-end;
        background-color: gainsboro;
    }
}

/* ===== Right Container ===== */
.right-container {
    margin-top: 50px;
}
@media (min-width: 768px) {
    .right-container {
        margin-top: 0;
        padding: 0 0 0 30px;
    }
}
@media (min-width: 1200px) {
    .right-container {
        padding-left: 120px;
    }
}

.right-container .header {
    position: absolute;
    top: 47px;
    right: 20px;
}
@media (min-width: 768px) {
    .right-container .header {
        position: static;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }
}
@media (min-width: 1200px) {
    .right-container .header {
        padding-right: 50px;
    }
}

.right-container .header > button {
    background-color: transparent;
    width: 30px;
    height: 20px;
    position: relative;
    border: 0;
    outline: 0;
}
@media (min-width: 768px) {
    .right-container .header > button {
        height: 15px;
    }
}

.right-container .toggle > i::before,
.right-container .toggle > i::after {
    content: '';
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    background-color: #111;
    width: 78%;
    transition: 200ms;
}

.right-container .toggle > i::before {
    top: 0;
}

.open .right-container .toggle > i::before {
    transform: rotate(45deg);
    bottom: 0;
}

.right-container .toggle > i::after {
    bottom: 0;
}

.open .right-container .toggle > i::after {
    transform: rotate(-45deg);
    top: 0;
}

.right-container .search > i::before,
.right-container .search > i::after {
    content: '';
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    border-color: #111;
    border-width: 2px;
    border-style: solid;
}

.right-container .search > i::before {
    top: 0;
    bottom: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.right-container .search > i::after {
    bottom: 1px;
    border: 0;
    width: 5px;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
    right: -19px;
}

/* ===== Card ===== */
@media (min-width: 1200px) {
    .card {
        width: 70%;
    }
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    position: relative;
}
@media (min-width: 768px) {
    .card-title {
        font-size: 30px;
        font-weight: 700;
    }
}

.card-title::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: lightgray;
    bottom: -15px;
}

.card-txt {
    color: darkgray;
    line-height: 1.8;
    font-size: 14px;
    margin: 30px 0;
}

.card-btn {
    padding: 15px 40px;
    font-weight: 700;
    border: 1px solid gainsboro;
    background-color: #FFF;
}

.card-btn:hover {
    border-color: #106213;
    color: #106213;
}

/* ===== Carousel ===== */
.carousel {
    display: flex;
    margin-top: 70px;
}
@media (min-width: 1200px) {
    .carousel {
        margin-right: -30px;
    }
}

.carousel > * + * {
    margin-left: 20px;
}

.carousel > .item > img {
    width: 100%;
    max-width: 300px;
}

/* ===== Pagination ===== */
.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1200px) {
    .pagination {
        padding-right: 50px;
    }
}

.pagination .arrows > button {
    width: 30px;
    height: 15px;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: relative;
}

.pagination .arrows > button > i::before,
.pagination .arrows > button > i::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.pagination .arrows > button > i::before {
    width: 20px;
    height: 2px;
    background-color: black;
}

.pagination .arrows > button > i::after {
    top: 1px;
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent black black;
    transform: rotate(45deg);
    bottom: 0;
    margin: auto;
}

.pagination .arrows .arrow-left > i::before {
    left: 0;
}

.pagination .arrows .arrow-left > i::after {
    left: 0;
    transform: rotate(45deg);
}

.pagination .arrows .arrow-right > i ::before {
    right: 0;
}

.pagination .arrows .arrow-right > i::after {
    right: 0;
    transform: rotate(-135deg);
}

.pagination .page {
    position: relative;
    font-size: 22px;
    font-weight: 700;
}

.pagination .page::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: darkgray;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(-100% -15px);
}