* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #111;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
@media (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
    }
}

a:hover {
    color: #106213;
}

::selection {
    background-color: #106213;
    color: #FFF;
}

/* ===== Container ===== */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding: 30px 20px;
    background-color: #FFF;
}
@media (min-width: 768px) {
    .container {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* ===== Left Container ===== */
.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
@media (min-width: 768px) {
    .left-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 150px;
    }
}
@media (min-width: 1200px) {
    .left-container {
        max-width: 210px;
    }
}

.left-container > .title {
    flex: 1 100%;
    margin: 70px 0 50px;
}
@media (min-width: 768px) {
    .left-container > .title {
        margin: 0;
        flex: none;
        transform: rotater(-90deg);
        font-size: 30px;
    }
}

/* ===== Logo ===== */
.logo {
    font-size: 20px;
}
@media (min-width: 768px) {
    .logo {
        margin: 0;
        font-size: 18px;
    }
}

/* ===== Social ===== */
.social {
    margin: 0 30% 0 0; 
    list-style: none;
    display: flex;
}
@media (min-width: 768px) {
    .social {
        margin-right: 0;
        order: 1;
    }
}

.social > * + * {
    margin-left: 20px;
}

.social > li > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
@media (min-width: 768px) {
    .social > li > a {
        font-size: 12px;
    }
}

